@import '../variables';

.landing-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

// Background Image (solo para home)
.landing-layout::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-4.0.3&auto=format&fit=crop&w=2000&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.7;
  filter: brightness(0.8);
}

.main-content {
  flex: 1;
  width: 100%;
  position: relative;
  z-index: 1;
}

