@import '../../../views/landing/variables';

// Mobile First
.google-maps-container {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: $shadow-lg;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.google-map-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

// Artistic Red Border
.map-artistic-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-image: linear-gradient(
    135deg,
    $color-primary-red 0%,
    $color-black 25%,
    $color-black 75%,
    $color-primary-red 100%
  ) 1;
  border-radius: 12px;
  z-index: 10;
  pointer-events: none;
  box-shadow: 
    inset 0 0 30px $color-red-transparent-20,
    0 0 40px $color-red-transparent-30;
}

// Decorative Corners
.map-corner {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 11;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid $color-primary-red;
    border-radius: 50%;
    animation: mapCornerRotate 12s linear infinite;
    box-shadow: 0 0 25px $color-red-transparent-50;
  }

  &::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border: 2px solid $color-black;
    border-radius: 50%;
    animation: mapCornerRotate 8s linear infinite reverse;
  }

  &.top-left {
    top: -30px;
    left: -30px;
  }

  &.top-right {
    top: -30px;
    right: -30px;
  }

  &.bottom-left {
    bottom: -30px;
    left: -30px;
  }

  &.bottom-right {
    bottom: -30px;
    right: -30px;
  }
}

// Animation
@keyframes mapCornerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Responsive
@media (max-width: 768px) {
  .map-corner {
    width: 40px;
    height: 40px;

    &.top-left {
      top: -20px;
      left: -20px;
    }

    &.top-right {
      top: -20px;
      right: -20px;
    }

    &.bottom-left {
      bottom: -20px;
      left: -20px;
    }

    &.bottom-right {
      bottom: -20px;
      right: -20px;
    }
  }
}

